* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Avenir', sans-serif;
  color: #4d4d4d;
}

@font-face {
  font-family: 'Avenir';
  src: url("/fonts/avenir-font/Avenir.ttf");
  src: url("/fonts/avenir-font/Avenir.woff");
  src: url("/fonts/avenir-font/Avenir.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Holland';
  src: url("/fonts/holland-font/Holland.otf");
  src: url("/fonts/holland-font/Holland.ttf");
  src: url("/fonts/holland-font/Holland.woff");
  src: url("/fonts/holland-font/Holland.woff2");
  font-weight: normal;
  font-style: normal;
}

/* Navigation styling */
.navbar {
  padding: 0.8em;
  font-family: 'Avenir', sans-serif;
}

.navbar-custom {
  background-color: #232323;
}

.navbar-nav li {
  padding-right: 1.3em;
}

.nav-link {
  font-size: 1.1em !important;
}

.navbar-default {
  background: transparent;
  background-image: none;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar img {
  width: 20%;
}

.navbar-brand {
  font-size: 1.3rem;
}

/* hero section */
.hero_section {
  background-image: url(../images/home_main/steak_mushrooms_overlay.jpg);
  padding: 100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.hero_section img {
  width: 35vw;
}

.headline_button {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  border-style: none;
}

/* Our story section */
.heading_overlap1 {
  position: relative;
  top: 10px;
  right: 10px;
}

.heading_overlap2 {
  position: relative;
  top: -15px;
  left: 10px;
}

.story, .menu, .adventure {
  font-family: 'Cormorant Garamond', serif;
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
  color: #dcd9d9;
  z-index: 1;
}

.our_story, .our_menu, .culinary_adventure {
  position: relative;
  color: #000;
  z-index: 2;
}

.menu_card {
  border: none;
}

.menu_card img {
  border-radius: 0;
}

/* Main sections styling - Home Page */
.story-container, .menu-container, .reserve-container {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.story-text, .reserve-text {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
}

.menu-text {
  margin-left: 2em;
  margin-right: 2em;
}

.menu_card {
  margin-bottom: 1.5rem;
}

.main-section {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

.main-section h2 {
  text-transform: uppercase;
}

.dots {
  color: #d48327;
}

.btn-primary {
  background-color: #d48327;
  border: #d48327;
  border-radius: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

.btn-primary:hover {
  background-color: #fff;
  border: 2px solid #d48327;
  color: #d48327;
}

.res_btn {
  background: #d48327 !important;
  color: #141414 !important;
  border: solid 2px #d48327 !important;
  border-radius: 0;
  padding: 5px 2px;
}

.hero_btn {
  background: transparent;
  border: solid 2px #d48327;
  color: #fff;
}

.hero_btn:hover {
  background: #d48327;
  color: #fff;
}

/* First Parallax styling - Home Page */
.first-parallax {
  background-image: url("/images/home_parallax/pasta_dish_overlay.jpg");
  opacity: 0.9;
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_card h5 {
  font-family: 'Cormorant Garamond';
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 0.9rem;
}

.parallax_body1, .parallax_body2, .parallax_body3, .parallax_body4 {
  margin-top: 3.5rem;
}

.parallax_card i {
  font-size: 2.8rem;
}

.parallax_card {
  border: none;
  background: transparent;
}

.parallax_text {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  color: #fff;
}

/* Second Parallax styling - Home Page */
.second-parallax {
  background-image: url("/images/home_parallax/drinks_overlay2.jpg");
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.drinks_section {
  color: #000;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  max-width: 960px;
}

.drinks_section h2 {
  font-family: 'Cormorant Garamond', serif;
  padding-bottom: 1rem;
}

.signature {
  font-family: 'Holland', cursive;
  font-size: 2.5rem;
}

/* reservation section?  */
.res-form img {
  width: 100%;
}

/* Footer styling */
footer {
  background-color: #141414;
  color: lightgray;
}

footer h6 {
  text-transform: uppercase;
}

.social {
  font-size: 2em;
  color: lightgray;
}

.social:hover {
  color: #d48327;
}

.bottom-footer {
  background-color: #232323;
  color: #969696;
  padding-bottom: 2rem;
}

/* Media Queries */

@media screen and (max-width: 576px) {

.drinks_section {
  padding-top: 1.5rem;
}

.parallax_body2 {
  margin-top: 2rem;
}

.parallax_body3 {
  margin-top: 2rem;
}

.parallax_body4 {
  margin-bottom: 2rem;
}

/*# sourceMappingURL=style2.css.map */