@mixin maxWidthBody {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

@mixin subheader {
  text-transform: uppercase;
  padding-top: 2rem;
  color: #000;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 3px;
}

@mixin autoMargins {
  margin-right: auto;
  margin-left: auto;
}

@mixin bottomCTA {
  @include maxWidthBody();
  padding-top: 4rem;
  color: #fff;
}

@mixin bottomCTA_text {
  font-weight: 900;
  font-size: 2rem;
}

@mixin menuParallax {
  padding: 140px;
  margin-top: -80px;
  min-height: 50vh;
  background-attachment: local;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin contactHeader {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 3px;
  font-size: 3.5rem;
  color: #fff;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Contact Parallax */

.contact_parallax {
  background-image: url("../images/contact/salmon_thin_overlay.jpg");
  @include contactParallax();
}

.contact_parallax h1 {
  @include contactHeader();
}

.contact_intro {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.message {
    font-weight: bold;
}

.contact_wrapper {
    @include maxWidthBody();
}

.contact_section {
    margin-top: 2.5rem;
}

.contact_section a {
    color: #d48327;
    text-decoration: none;
}

.form-control {
    margin-bottom: 1.5rem;
    border: none;
    background: #f7f5f0;
}

.contact_info {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1.2px;
}

#my-form-status {
    color: rgb(28, 108, 27);
    font-size: 15px;
    font-weight: 500;
}
.address_section {
    margin-bottom: 3rem;
}

/* Responsive breakpoints */

@media screen and (max-width: 400px) {

  .contact_parallax h1 {
    top: 80%;
    font-size: 325%;
  }
}

@media screen and (max-width: 768px) {
  .contact_parallax {
    padding: 140px;
    margin-top: 0;
    min-height: 40vh;
    background-attachment: local;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .contact_parallax h1 {
    top: 30%;
  }
}