.food_container {
  margin-top: 3rem;
  margin-bottom: 3rem;
} 


.food_container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: olive;
  width: 390px;
  margin: 0 auto;
}

.food_menu li {
  width: 120px;
  height: 40px;
  margin: 0 4px;
  border: solid 2px #fff;
  border-radius: 5px;
  float: left;
}

.food_menu li a {
  display: block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  color: white;
  text-decoration: none;
  text-align: center;
}