@mixin maxWidthBody {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

@mixin subheader {
  text-transform: uppercase;
  padding-top: 1rem;
  color: #000;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 3px;
}

@mixin autoMargins {
  margin-right: auto;
  margin-left: auto;
}

@mixin bottomCTA {
  @include maxWidthBody();
  padding-top: 4rem;
  color: #fff;
}

@mixin bottomCTA_text {
  font-weight: 700;
  font-size: 2rem;
}

@mixin menuParallax {
  padding: 140px;
  margin-top: -80px;
  min-height: 50vh;
  background-attachment: local;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin menuHeader {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 3px;
  font-size: 3.5rem;
  color: #fff;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Menu Parallax */

.foodMenu_parallax {
  background-image: url("../images/menu/prosciutto_crostini_overlay.jpg");
  @include menuParallax();
}

.foodMenu_parallax h1 {
  @include pageHeader();
}

/* Menu images section */

.menu_images {
  margin-top: 3.5rem;
}

/* Food Menu section */

.list {
  @include subheader();
  padding-bottom: 0.8rem;
}

#food_menu {
  @include maxWidthBody();
  padding-bottom: 2.5rem;
}

#food_menu ul {
  display: flex;
  justify-content: center;
  padding-bottom: 1.7rem;
}

.nav-link.active:hover {
  color: #fff !important;
}

.nav-pills a {
  color: #d48327;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1rem;
}

.nav-pills a:hover {
  color: #000 !important;
}

.menu_hr {
  margin-top: -0.3rem;
  width: 200px;
  border-color: #d48327 !important;
}

.menu_section {
  @include maxWidthBody();
}

.menu_section .card {
  border: none;
  outline: none;
}


.menu_content h4 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 3px;
}

.menu_content h5 {
  text-transform: uppercase;
  font-size: 17px;
}

.menu_content p {
  font-size: 17px;
  color: #9a9a9a !important;
}

/* Drinks section parallax */

.wine_section {
  background-image: url("../images/menu/delicious_cocktails_overlay.jpg");
  min-height: 300px;
  background-attachment: local;
  background-position: 50% 60%;
  background-repeat: no-repeat;
  background-size: cover;
}

.wine_header {
  @include maxWidthBody();
}

.wine_section p {
  font-weight: 600;
  color: #fff;
  font-size: 1.5rem;
}

.wine_dots {
  color: #fff;
}

.wine_list {
  @include maxWidthBody();
  padding-bottom: 2rem;
}

/* Down Arrow animation */

.fa-chevron-down {
  color: #fff;
  font-size: 2rem;
  padding-top: 0.8rem;
}

.view_wine {
  padding-top: 1rem;
  font-size: 1.5rem;
  color: #fff;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 3px;
}

.bounce {
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%{
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* "Book a Table" Section */

#hungry {
  background: url(../images/menu/tomato_cucumber_salad_overlay2.jpg);
  min-height: 250px;
  background-attachment: fixed;
  background-position: 50% 68%;
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom_cta {
  @include bottomCTA();
}

.bottom_cta h2 {
@include bottomCTA_text();
}

/* Responsive breakpoints */

@media screen and (max-width: 400px) {

  .foodMenu_parallax h1 {
    top: 80%;
    font-size: 325%;
  }

}

@media screen and (max-width: 768px) {
  .foodMenu_parallax {
    padding: 140px;
    margin-top: 0;
    min-height: 40vh;
    background-attachment: local;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .foodMenu_parallax h1 {
    top: 30%;
  }
}