@mixin maxWidthBody {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

@mixin subheader {
  text-transform: uppercase;
  padding-top: 2rem;
  color: #000;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 3px;
}

@mixin autoMargins {
  margin-right: auto;
  margin-left: auto;
}

@mixin bottomCTA {
  @include maxWidthBody();
  padding-top: 4rem;
  color: #fff;
}

@mixin bottomCTA_text {
  font-weight: 700;
  font-size: 2rem;
}

/* Our Story Parallax */

.story_parallax {
  background-image: url("../images/about/about_main/scallops_avocado_overlay.jpg");
  padding: 140px;
  margin-top: -80px;
  min-height: 50vh;
  background-attachment: local;
  background-position: 50% 75%;
  background-repeat: no-repeat;
  background-size: cover;
}

.story_parallax h1 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 3px;
  font-size: 3.5rem;
  color: #fff;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Our Story section */

#story_details {
  @include maxWidthBody();
}

#story_spacing {
  margin-top: 2rem;
}

.about_hr {
  @include autoMargins();
  margin-top: 2.8rem;
  margin-bottom: 2rem;
  max-width: 10rem;
  border-color: #d48327;
}

/* Our Team section */

#team {
    @include maxWidthBody();
    margin-bottom: 2.5rem;
}

.team_cards {
  padding-top: 0.8rem;
}

.team_member {
  width: 190px;
  border: none;
  outline: none;
  @include autoMargins();
}

.team_member h5 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
}

/* Inquiry section */

#inquiry {
  background-image: url("../images/about/about_main/crostini_arugula_overlay.jpg");
  min-height: 250px;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom_cta {
  @include bottomCTA();
}

.bottom_cta h2 {
  @include bottomCTA_text();
}

@media screen and (max-width: 400px) {

  .story_parallax h1 {
    top: 30%;
    font-size: 250%;
    letter-spacing: 2px;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {

  .team_member {
    width: 50%;
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {
  
  .story_parallax {
    padding: 140px;
    margin-top: 0;
    min-height: 40vh;
    background-attachment: local;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .about_parallax h1 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 3px;
    font-size: 3.5rem;
    color: #fff;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
}
