@mixin maxWidthBody {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
  }
  
  @mixin subheader {
    text-transform: uppercase;
    padding-top: 1rem;
    color: #000;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
  }
  
  @mixin autoMargins {
    margin-right: auto;
    margin-left: auto;
  }
  
  @mixin bottomCTA {
    @include maxWidthBody();
    padding-top: 4rem;
    color: #fff;
  }
  
  @mixin bottomCTA_text {
    font-weight: 900;
    font-size: 2rem;
  }

/* Reservations Main Parallax */

  .res_container {
    background-image: url(../images/reservations/food_table.jpg);
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Reservation Jotform */

  .res_form {
      margin-top: 4rem;
  }