/* Sass */
/* Menu Parallax */
.foodMenu_parallax {
  background-image: url("../images/menu/fish_vegetables_overlay.jpg");
  min-height: 450px;
  background-attachment: local;
  background-position: 40% 67%;
  background-repeat: no-repeat;
  background-size: cover;
}

.foodMenu_parallax h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 7rem;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* Menu images section */
.menu_images {
  margin-top: 4rem;
}

/* Food Menu section */
.food_container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  margin-top: 3rem;
}

.food_container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  width: 390px;
  margin: 0 auto;
}

#food_menu {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

#food_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-link.active {
  background: #d48327 !important;
  border-radius: 0;
  text-transform: uppercase;
}

/* might have to delete this since it appears to have broken the pill function 

.food_wrapper {
  @include maxWidthBody();
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

*/
.menu_hr {
  margin-top: -0.3rem;
  width: 200px;
  border-color: #d48327 !important;
}

.menu_section .card {
  border: none;
  outline: none;
}

.menu-content h5 {
  text-transform: uppercase;
  font-size: 17px;
}

.menu-content p {
  font-size: 17px;
}

/* Drinks section parallax */
.ask_about {
  background-image: url("../images/menu/delicious_cocktails_overlay.jpg");
  min-height: 300px;
  background-attachment: local;
  background-position: 50% 60%;
  background-repeat: no-repeat;
  background-size: cover;
}

.askAboutSection {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  padding-top: 4rem;
}

.askAboutSection h2 {
  font-style: italic;
  font-weight: bold;
  color: #fff;
  font-size: 1.8rem;
}

/* "Book a Table" Section */
.hungry {
  background: url(../images/menu/tomato_cucumber_salad_overlay2.jpg);
  min-height: 130px;
  background-attachment: local;
  background-position: 50% 68%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.hungry h2 {
  font-weight: 900;
  font-size: 2.5rem;
}

/* Responsive breakpoints */
@media screen and (max-width: 400px) {
  .foodMenu_parallax h1 {
    top: 36%;
  }
  .food_container ul {
    width: 100%;
  }
  .food_menu li {
    width: 100%;
  }
  .menu-btn {
    text-align: center;
    margin: 0 auto;
  }
}

/* About Parallax */
.about_parallax {
  background-image: url("../images/about/about_main/carrot_dish.jpg");
  min-height: 450px;
  background-attachment: local;
  background-position: 75% 80%;
  background-repeat: no-repeat;
  background-size: cover;
}

.about_parallax h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 7rem;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* Our Story section */
#story_details {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

#story_spacing {
  margin-top: 2rem;
}

.about_hr {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.8rem;
  max-width: 10rem;
  border-color: #d48327;
}

/* Our Team section */
#team {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.team_cards {
  padding-top: 0.8rem;
  padding-left: 3rem;
}

.team_member {
  width: 75%;
  border: none;
  outline: none;
}

/* Inquiry section */
#inquiry {
  background-image: url(../images/about/about_main/crostini_arugula_overlay.jpg);
  min-height: 250px;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.inquiry_section {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  padding-top: 60px;
  padding-bottom: 50px;
  color: #fff;
}

@media screen and (max-width: 400px) {
  .about_parallax h1 {
    top: 36%;
  }
}

@media screen and (max-width: 576px) {
  .team_cards {
    padding-left: 0;
  }
  .team_member {
    margin-right: auto;
    margin-left: auto;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Avenir', sans-serif;
  color: #4d4d4d;
}

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/avenir-font/Avenir.ttf");
  src: url("../fonts/avenir-font/Avenir.woff");
  src: url("../fonts/avenir-font/Avenir.woff2");
  font-weight: normal;
  font-style: normal;
}

/* Fonts */
@font-face {
  font-family: 'Holland';
  src: url("../fonts/holland-font/Holland.otf");
  src: url("../fonts/holland-font/Holland.ttf");
  src: url("../fonts/holland-font/Holland.woff");
  src: url("../fonts/holland-font/Holland.woff2");
  font-weight: normal;
  font-style: normal;
}

/* Navigation */
.navbar {
  padding: 0.8rem;
  font-family: 'Avenir', sans-serif;
}

.navbar-custom {
  background-color: #232323;
}

.navbar-nav li {
  padding-right: 1rem;
  text-transform: uppercase;
}

.mainNav_link {
  font-size: 1rem;
  /* Need to fix navigation layout */
}

.navbar img {
  width: 20%;
}

.navbar-brand {
  font-size: 1rem;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #d48327 !important;
}

/* Hero section */
.hero_section {
  background-image: url(../images/home_main/steak_mushrooms_overlay.jpg);
  padding: 140px;
  background-attachment: fixed;
  background-position: 50% 60%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_section img {
  width: 35vw;
  -webkit-animation-name: heroFade;
          animation-name: heroFade;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

@-webkit-keyframes heroFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heroFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Back to top button */
#topBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #d48327;
  opacity: 0.9;
  color: #fff;
  cursor: pointer;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.2rem;
  border-radius: 0;
  font-size: 1.5rem;
}

#topBtn:hover {
  background-color: #838282;
}

/* Our Story section */
.heading_overlap1 {
  position: relative;
  top: 10px;
  right: 10px;
}

.heading_overlap2 {
  position: relative;
  top: -15px;
  left: 10px;
}

.sub_header {
  text-transform: uppercase;
  padding-top: 2rem;
  color: #000;
}

.menu_card {
  border: none;
  margin-bottom: 1.5rem;
}

.menu_card img {
  border-radius: 0;
}

/* Main sections styling - index.html */
.story-container, .menu-container, .reserve-container {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.story-text, .reserve-text {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
}

.menu-text {
  margin-left: 2em;
  margin-right: 2em;
}

.main-section {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

.main-section h2 {
  text-transform: uppercase;
}

.dots {
  color: #d48327;
}

/* Buttons */
.btn-primary {
  background-color: #d48327;
  border: solid 1px #d48327;
  border-radius: 0;
  text-transform: uppercase;
}

.btn-primary:hover {
  background-color: #fff;
  border: 1px solid #d48327;
  color: #d48327;
}

.res_btn {
  background: #d48327 !important;
  color: #141414 !important;
  border: solid 1px #d48327 !important;
  border-radius: 0;
  padding: 8px 5px 3px 5px;
  max-width: 150px;
  float: right;
}

.res_btn:hover {
  border: solid 1px #d48327 !important;
  background: transparent !important;
  color: #fff !important;
  padding: 8px 5px 3px 5px;
  max-width: 150px;
}

.hero_btn {
  background: transparent;
  border: solid 2px #d48327;
  color: #fff;
  text-transform: uppercase;
  margin-top: 1.3rem;
}

.hero_btn:hover {
  background: #d48327;
  color: #fff;
}

/* First Parallax - index.html */
.first-parallax {
  background-image: url("../images/home_parallax/pasta_dish_overlay.jpg");
  opacity: 0.9;
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_card h5 {
  font-family: 'Cormorant Garamond';
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 0.9rem;
}

.parallax_body1, .parallax_body2, .parallax_body3, .parallax_body4 {
  margin-top: 4rem;
}

.parallax_card i {
  font-size: 2.8rem;
}

.parallax_card {
  border: none;
  background: transparent;
}

.parallax_text {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  color: #fff;
}

/* Second Parallax - index.html */
.second-parallax {
  background-image: url("../images/home_parallax/drinks_overlay2.jpg");
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.drinks_section {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  color: #000;
  padding-top: 3rem;
}

.drinks_section h2 {
  font-family: 'Cormorant Garamond', serif;
  padding-bottom: 1rem;
  font-weight: 600;
}

.signature {
  font-family: 'Holland', cursive;
  font-size: 2.5rem;
}

/* Reservations.html? */
.res-form img {
  width: 100%;
}

/* Footer */
.footer_container, .footer_card {
  background: #232323;
  color: lightgray;
  border: none;
}

.footer_container {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

footer h6 {
  text-transform: uppercase;
}

.social {
  font-size: 1.5rem;
  color: lightgray;
}

.social:hover {
  color: #d48327;
}

.footer_card i {
  padding-left: 1.6rem;
}

.bottom-footer {
  background-color: #141414;
  color: #969696;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.bottom-footer a {
  text-decoration: none;
  color: #969696;
}

.attribution {
  font-size: 0.8rem;
}

/* Responsive Breakpoints */
@media screen and (max-width: 576px) {
  .hero_section {
    background-image: url(../images/home_main/steak_mushrooms_overlay.jpg);
    padding: 100px;
    background-attachment: local;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .drinks_section {
    padding-top: 1.5rem;
  }
  .parallax_body2 {
    margin-top: 2rem;
  }
  .parallax_body3 {
    margin-top: 2rem;
  }
  .parallax_body4 {
    margin-bottom: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */