/* Sass */ 

@import "./foodmenu";
@import "./ourstory";
@import "./contactpage";


@mixin maxWidthBody {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

@mixin subheader {
  text-transform: uppercase;
  padding-top: rem;
  color: #000;
}

@mixin autoMargins {
  margin-right: auto;
  margin-left: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Avenir', sans-serif;
  color: #4d4d4d;
}



@font-face {
  font-family: 'Avenir';
  src: url("../fonts/avenir-font/Avenir.ttf");
  src: url("../fonts/avenir-font/Avenir.woff");
  src: url("../fonts/avenir-font/Avenir.woff2");
  font-weight: normal;
  font-style: normal;
}

/* Fonts */

@font-face {
  font-family: 'Holland';
  src: url("../fonts/holland-font/Holland.otf");
  src: url("../fonts/holland-font/Holland.ttf");
  src: url("../fonts/holland-font/Holland.woff");
  src: url("../fonts/holland-font/Holland.woff2");
  font-weight: normal;
  font-style: normal;
}

/* Navigation */


.navbar {
  padding: 0.8rem;
  font-family: 'Avenir', sans-serif;
}

.navbar-custom {
  background-color: #232323;
}

.navbar-nav li {
  padding-right: 1rem;
  text-transform: uppercase;
}

.mainNav_link {
  font-size: 1rem;
/* Need to fix navigation layout */
}

.navbar img {
  width: 20%;
}

.navbar-brand {
  font-size: 1rem;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #d48327 !important;
}

/* Hero section */

.hero_section {
  background-image: url(../images/home_main/steak_mushrooms_overlay.jpg);
  padding: 140px;
  background-attachment: fixed;
  background-position: 50% 60%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_logo {
  animation-name: heroFade;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}

@keyframes heroFade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hero_logo {
  color: #fff;
}

.hero_icon {
  width: 120px;
}

.hero_sub {
  letter-spacing: 6px;
  font-family: 'Cormorant Garamond', serif;
  padding-bottom: 0.5rem;
}

/* Back to top button */

#topBtn {
  display: none; /* Hidden by default */
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #d48327;
  opacity: 0.9;
  color: #fff; 
  cursor: pointer; 
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.2rem;
  border-radius: 0; 
  font-size: 1.5rem;
}

#topBtn:hover {
  background-color: #838282;
}

/* Our Story section */

.sub_header {
  @include subheader();
}

.menu_card {
  border: none;
  margin-bottom: 1.5rem;
}

.menu_card img {
  border-radius: 0;
}

/* Main sections styling - index.html */

.story-container, .menu-container, .reserve-container {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
}

.story-text, .reserve-text {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
}

.menu-text {
  margin-left: 2em;
  margin-right: 2em;
}

.main-section {
  @include maxWidthBody();
}

.main-section h2 {
  text-transform: uppercase;
}

.dots {
  color: #d48327;
  padding-bottom: 1rem;
}

/* Buttons */

.btn-primary {
  background-color: #d48327;
  border: solid 1px #d48327;
  border-radius: 0;
  text-transform: uppercase;
}

.btn-primary:hover {
  background-color: #fff;
  border: 1px solid #d48327;
  color: #d48327;
}

.res_btn {
  background: #d48327 !important;
  color: #141414 !important;
  border: solid 1px #d48327 !important;
  border-radius: 0;
  padding: 8px 5px 3px 5px;
  max-width: 150px;
  float: right;
}

.res_btn:hover {
  border: solid 1px #d48327 !important;
  background: transparent !important;
  color: #fff !important;
  padding: 8px 5px 3px 5px;
  max-width: 150px;
}

.hero_btn {
  background: transparent;
  border: solid 2px #d48327;
  color: #fff;
  text-transform: uppercase;
  margin-top: 1.3rem;
}

.hero_btn:hover {
  background: #d48327;
  color: #fff;
}

.section_btn {
  margin-top: 0.7rem;
}

/* First Parallax - index.html */

.first-parallax {
  background-image: url("../images/home_parallax/pasta_dish_overlay.jpg");
  opacity: 0.9;
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_card h5 {
  font-family: 'Cormorant Garamond';
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 0.9rem;
}

.parallax_body1, .parallax_body2, .parallax_body3, .parallax_body4 {
  margin-top: 4rem;
}

.parallax_card i {
  font-size: 2.8rem;
}

.parallax_card {
  border: none;
  background: transparent;
}

.parallax_text {
  @include maxWidthBody();
  color: #fff;
}

/* Second Parallax - index.html */

.second-parallax {
  background-image: url("../images/home_parallax/drinks_overlay2.jpg");
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.drinks_section {
  @include maxWidthBody();
  color: #000;
  padding-top: 3rem;
}

.drinks_section h2 {
  font-family: 'Cormorant Garamond', serif;
  padding-bottom: 1rem;
  font-weight: 600;
}

.signature {
  font-family: 'Holland', cursive;
  font-size: 2.5rem;
}

/* Reservations.html? */

.res-form img {
  width: 100%;
}

/* Footer */

.footer_container, .footer_card {
  background: #232323;
  color: lightgray;
  border: none;
}

.footer_container {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

footer h6 {
  text-transform: uppercase;
}

.social {
  font-size: 1.5rem;
  color: lightgray;
}

.social:hover {
  color: #d48327;
}

.footer_card i {
    padding-left: 1.6rem;
}

.bottom-footer {
  background-color: #141414;
  color: #969696;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.bottom-footer a {
    text-decoration: none;
    color: #969696;
}

.attribution {
    font-size: 0.8rem;
}

/* Responsive Breakpoints */

@media screen and (max-width: 576px) {


  .hero_section {
    padding: 100px;
    background-attachment: local;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .drinks_section {
    padding-top: 1.5rem;
  }

  .parallax_body2 {
    margin-top: 2rem;
  }

  .parallax_body3 {
    margin-top: 2rem;
  }

  .parallax_body4 {
    margin-bottom: 2rem;
  }
}